.appwindow.preview .windowsections .main .topbar {
    background-color: #191c1fde;
    border-bottom: 2px solid #131617;
    padding-left: 100px;
}

.appwindow.preview .windowsections .main .body {
    height: calc(100% - 50px);
    background-color: transparent;
    padding: 0px;
}

.appwindow.preview .windowsections .main .topbar .button {
    color: rgba(255, 255, 255, 0.55);
}

.appwindow.preview .windowsections .main .topbar .button.disabled {
    color: rgba(255, 255, 255, 0.26);
}

.appwindow.preview .windowsections .main .topbar .right {
    margin-left: auto;
    gap: 20px;
}