.appwindow.finder {
    min-width: 740px;
}

.appwindow.finder .windowsections .topbar {
    background-color: #191c1fde;
    border-bottom: 1px solid #131617;
}

.appwindow.finder .windowsections .topbar .right {
    gap: 20px;
}

.appwindow.finder .windowsections .body {
    overflow: scroll;
    height: calc(100% - 50px);
    background-color: #191c1f98;
}

.appwindow.finder .windowsections .body .item.selected {
    background-color: rgba(255, 255, 255, 0.057);
    border-radius: 4px;
}